<div class="flex flex-col h-full bg-slate-100">
  <div class="flex flex-1 flex-col gap-6 p-6 min-h-">

    <div class="flex flex-row text-3xl">
      <span class="uppercase font-semibold text-primary-500">Anagrafica Pazienti</span>
    </div>

    <div class="flex h-full flex-col gap-1.5 w-full mb-4 min-h-0">
      <!-- FILTRI DI RICERCA -->
      <p-fieldset
        [toggleable]="true"
        [collapsed]="false"
        legend="Filtri"
      >
        <div class="flex flex-col gap-2">
          <form class="flex flex-col gap-3">
            <div class="flex flex-col md:flex-row gap-4 w-full">

              <div class="input-group">
                <label class="input-label">Codice Fiscale</label>
                <i class="pi pi-id-card"></i>
                <input pInputText placeholder="Codice Fiscale..." class="input-field"/>
              </div>

              <div class="input-group">
                <label class="input-label">Nome</label>
                <i class="pi pi-user"></i>
                <input pInputText placeholder="Nome..." class="input-field"/>
              </div>

              <div class="input-group">
                <label class="input-label">Cognome</label>
                <i class="pi pi-user"></i>
                <input pInputText placeholder="Cognome..." class="input-field"/>
              </div>
            </div>

            <div class="flex flex-col md:flex-row gap-4 w-full">
              <div class="input-group">
                <label class="input-label">Data di nascita</label>
                <i class="pi pi-calendar"></i>
                <input pInputText placeholder="Data di nascita..." class="input-field"/>
              </div>
              <div class="input-group">
                <label class="input-label">Luogo di nascita</label>
                <i class="pi pi-map-marker"></i>
                <input pInputText placeholder="Luogo di nascita..." class="input-field"/>
              </div>
            </div>
          </form>

          <!-- FOOTER -->
          <div class="flex justify-end gap-3 pt-4 border-t border-gray-50">
            <button class="px-6 py-3 rounded-md text-sm font-bold text-gray-500 hover:text-gray-700 hover:bg-gray-100 transition-all cursor-pointer">
              Reset
            </button>
            <button class="px-5 py-3 rounded-md text-sm font-bold bg-primary text-white hover:bg-primary-300 transition-all active:scale-95 shadow-lg shadow-gray-200 cursor-pointer flex items-center gap-2">
              <i class="pi pi-search"></i>
              Ricerca
            </button>
          </div>
        </div>
      </p-fieldset>

      <!-- AGGIUNGI -->
      <div class="flex justify-end pt-4 border-t border-gray-50">
        <button (click)="nuovoPaziente()" class="px-5 py-3 rounded-md text-sm font-bold bg-primary text-white hover:bg-primary-300 transition-all active:scale-95 shadow-lg shadow-gray-200 cursor-pointer flex items-center gap-2">
          <i class="pi pi-plus"></i>
          Aggiungi
        </button>
      </div>

      <!-- TABELLA -->
      <label class="text-slate-400 uppercase font-bold ml-1 tracking-widest text-[11px]">Risultati</label>
      <div class="flex-1 h-full min-h-0 flex flex-col border border-slate-200 overflow-hidden">
        <p-table
        [paginator]="true"
        [scrollable]="true"
        [tableStyleClass]="'h-full'"
        scrollHeight="flex">
        <ng-template pTemplate="header">
          <tr>
            <th>Codice Fiscale</th>
            <th>Nome</th>
            <th>Cognome</th>
            <th>Data di nascita</th>
            <th>Luogo di nascita</th>
            <th class="text-center">Azioni</th>
          </tr>
        </ng-template>
        <ng-template #body let-paziente>
          <tr>
            <td class="p-2.5 text-sm font-medium text-slate-800">{{ paziente.codiceFiscale }}</td>
            <td class="p-2.5 text-sm text-slate-600">{{ paziente.nome }}</td>
            <td class="p-2.5 font-mono text-xs text-slate-500">{{ paziente.cognome }}</td>
            <td class="p-2.5 font-mono text-xs text-slate-500">{{ paziente.dataDiNascita | date:'dd/MM/yyyy' }}</td>
            <td class="p-2.5 font-mono text-xs text-slate-500">{{ paziente.luogoDiNascita }}</td>
            <td class="text-center">
              <button (click)="modificaPaziente(paziente.id)" pTooltip="Apri dettaglio" class="p-2 cursor-pointer text-slate-300 hover:text-slate-700 hover:bg-slate-100 rounded transition-colors duration-150">
                <i class="pi pi-ellipsis-v"></i>
              </button>
              <button (click)="eliminaPaziente($event, paziente.id)" pTooltip="Elimina" class="p-2 cursor-pointer text-slate-300 hover:text-slate-700 hover:bg-slate-100 rounded transition-colors duration-150">
                <i class="pi pi-trash"></i>
              </button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="6" class="text-center py-12!">
              <div class="flex flex-col items-center gap-2">
                <i class="pi pi-search text-slate-300 text-3xl"></i>
                <span class="text-slate-400 text-sm">Nessuna anagrafica trovata</span>
              </div>
            </td>
          </tr>
        </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>
